<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <p class="header-title">Boards</p>
      <div class='avatar_png'>
        <%= image_tag 'Oval.png', class: 'header-avatar-png' %>
     </div>
     <h2 class='title'>ALL Bords</h2>
    </header>
    <%= yield %>
  </body>
</html>
